@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");

.home {
  /* padding: 56px 20px; */
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: #000;
  color: white */
  transition: 1s;
}

.images {
  grid-column: 2;
  /* background: #000; */
  justify-self: center;
  align-self: center;
  width: 1076.06371;
  height: 755.2279;
  max-height: 100vh;
  overflow: hidden;
}
.home > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
.home > div {
  max-height: 90%;
  padding: 0;
}
.home > div > h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 20px; */
  letter-spacing: 2px;
  /* display: inline-block; */
  z-index: 2;
  cursor: default;
  display: inline-block;
  margin: 0;
}

.home > div > h1 {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin: 0;
  letter-spacing: 4px;
  vertical-align: middle;
  transition: 0.3s;
  transform: scale(1);
  line-height: 70px;
  padding-bottom: 10px;
}

.home > div > h1 > span {
  transition: 0.3s ease-out;
}

.home > div > h1 > span:hover {
  color: #017a84;
  transition: 0.3s ease-out;
  cursor: default;
  display: inline-block;
}

.color {
  color: #017a84;
}

.color:hover {
  color: #1f1f1f !important;
}

/* animasi */
.slidingVertical {
  display: inline;
  text-indent: 8px;
}
.slidingVertical > span {
  animation: topToBottom 7.5s linear infinite 0s;
  -ms-animation: topToBottom 7.5s linear infinite 0s;
  -webkit-animation: topToBottom 7.5s linear infinite 0s;
  color: #017a84;
  opacity: 0;
  overflow: visible;
  position: absolute;
  width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
/*topToBottom Animation*/
@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.home > svg {
  position: absolute;
  top: 200px;
  z-index: -1;
}
.home > div > img {
  width: 100%;
}
.home > div:nth-of-type(2) {
  display: flex;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .images {
    grid-row: 2;
    grid-column: 1 !important;
    max-height: 50vh !important;
    overflow-y: hidden;
  }
  .home > div {
  }
  .home > div > h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .home > div > img {
    width: 100%;
  }
}
.dark {
  background: black;
  color: white;
  transition: 1s;
}
