@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700,900&display=swap");
.header,
.hidden {
  position: fixed;
  left: 0;
  top: 0;
  width: 5em;
  height: 100%;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}
.header > button,
.hidden > button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 80px;
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 6;
}
.header > button > h1,
.hidden > button > h1 {
  flex: 1;
  margin: 0;
  letter-spacing: -3px;
  font-family: "poppins";
  text-align: center;
  margin-top: 10px;
}
.header > div:nth-of-type(2),
.hidden > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.hidden > div:nth-of-type(2) > button,
.header > div:nth-of-type(2) > button {
  background: none;
  border: none;
  font-size: 20px;
  height: 3em;
  padding: 0;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  will-change: color;
  text-transform: uppercase;
  position: relative;
}

.hidden > div:nth-of-type(2) > button:hover,
.hidden > div:nth-of-type(2) > button:focus,
.header > div:nth-of-type(2) > button:hover,
.header > div:nth-of-type(2) > button:focus {
  color: #017a84;
  cursor: pointer;
}
.hidden > div:nth-of-type(2) > input,
.header > div:nth-of-type(2) > input {
  display: none;
}

.hidden > div:nth-of-type(2) > button > p,
.header > div:nth-of-type(2) > button > p {
  /* opacity: 0; */
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  font-family: "poppins";
  width: 80px;
  transition: 0.2s;
}

.hidden > div:nth-of-type(2) > button > svg,
.header > div:nth-of-type(2) > button > svg {
  transition: 0.2s;
}
.hidden > div:nth-of-type(2) > button:hover > svg,
.header > div:nth-of-type(2) > button:hover > svg {
  transition: 0.2s;
}

.header > button,
.hidden > button {
  background: none;
  border: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchCon {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.switchCon > span {
  text-align: center;
  font-family: "poppins";
  font-weight: 900;
  color: #ccc;
}

.dark {
  background: #3c4042;
  color: white;
  transition: 1s;
}
.dark > button > h1 {
  color: white;
}
.dark > div > button > svg {
  color: white;
}
.warning {
  position: absolute;
  right: -130px;
  bottom: 23px;
  background-color: #3c4042;
  color: #ccc;
  padding: 5px;
  opacity: 0;
  transition: 1s;
  width: 150px;
}
.switch:hover + .warning {
  opacity: 1;
  transition: 1s;
}
.switch:focus + .warning {
  opacity: 0;
  transition: 1s;
}

@media only screen and (max-width: 1000px) {
  .header {
    background: none;
    box-shadow: none;
    height: 64px;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row-reverse;
    width: 84px;
  }
  .hidden {
    flex-direction: row-reverse;
    align-items: space-around !important;
    width: 100vw;
    height: 100px;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header > div:nth-of-type(2),
  .hidden > div:nth-of-type(2) {
    flex-direction: row;
    grid-column: 1/-1;
    justify-self: center;
  }
  .header > div:nth-of-type(2) > button {
    width: 0;
    opacity: 0;
    transition: 0.2s;
  }
  .header > div:nth-of-type(2) > button,
  .hidden > div:nth-of-type(2) > button {
    text-align: center;
    /* line-height: 70px; */
    width: 60px;
    height: 40px;
  }
  .header > div:nth-of-type(2) > button > p,
  .hidden > div:nth-of-type(2) > button > p {
    text-align: center;
    line-height: 40px;
    width: 60px;
    height: 40px;
  }
  .header .switchCon {
    display: none;
  }
  .hidden .switchCon {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    margin-right: 20px;
    padding-bottom: 0;
  }
  .hidden .switchCon > span {
    display: none;
  }
  .warning {
    right: 160px;
    top: 15px;
    height: 27px;
  }
  .header > button {
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .header > button.dark {
    background-color: #3c4042;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}
